{% extends 'base.html' %} {% block content %}
<div class="room-container">
    <h2>Game room: {{code}}</h2>
    <img class = "card_front" src="static/images/back-maroon.png" id="card_image"/>
    <h2 id="current_card">Pick a card to start the game</h2>
    <button class="new_card_button" onClick="pickCard()">Pick a new card</button>
    <button class="leave_button" onClick="leaveRoom()">Leave room</button>
    <h3>History:</h3>
    <div class="history" id="history"></div>
</div>

<script type="text/javascript">
  var socketio = io();

  const history = document.getElementById("history");
  const deck = []

  //function for creating a new message and displaying it in "history" div
  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    history.innerHTML += content;
  };

  //function for adding new card to deck
  const createCard = (name, challenge) => {
    deck.push({
        "name": name,
        "challenge": challenge
    })
  }

  //function for updating the gamestate for players that joined mid game
  const catchUpToGame = (latestMessage) => {
    document.getElementById("current_card").innerHTML = `${latestMessage}`;
    msg_split = latestMessage.split(':')
    document.getElementById('card_image').src = "static/images/" + msg_split[0] + ".png";
  }

  //function for picking new card from deck
  const pickCard = () => {
    socketio.emit("checkTurn");
  }

  //function for sending information about aciton as message
  const sendActionInfo = (input) => {
    if (input == "") return;
    socketio.emit("message", { data: input });
  };

  //function for disconnecting user
  const leaveRoom = () => {
    console.log("Leaving room");
    window.location.href = "/";
  };

  //this event happens when new message is received
  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
    console.log("Received message")
    //if message is card action, delete card from deck
    if (!data.message.startsWith('has')) {
        //split msg into card name and challenge
        msg_split = data.message.split(':')
        console.log(msg_split[0])
        //if this card is still in local deck, delete it
        for (let i = 0; i < deck.length; i++) {
            if(deck[i].name == msg_split[0]) {
                //console.log("Removed card: ", deck[i])
                deck.splice(i, 1)
            }
        }
        if(deck.length < 1) {
            document.getElementById("current_card").innerHTML = `Deck is empty.`;
            document.getElementById('card_image').src = "static/images/back-maroon.png";
        }
        else {
            document.getElementById("current_card").innerHTML = `${data.message}`;
            document.getElementById('card_image').src = "static/images/" + msg_split[0] + ".png";
        }
    }
  });

  //this event happens when a new card is picked and the user has the turn
  socketio.on("myTurn", function(){
    if(deck.length < 1) {
        document.getElementById("current_card").innerHTML = `Deck is empty.`;
        document.getElementById('card_image').src = "static/images/back-maroon.png";
    }
    else {
        new_card = deck.pop()
        //change current_card to this one and send information about this action
        document.getElementById("current_card").innerHTML = `${new_card.name}: ${new_card.challenge}`;
        document.getElementById('card_image').src = "static/images/" + new_card.name + ".png";
        sendActionInfo(`${new_card.name}: ${new_card.challenge}`)
        if(new_card.challenge == "Break card" || new_card.challenge == "The slave" || new_card.challenge == "Question master"){

        }
    }
  });

</script>

{% for card in deck %}
<script type="text/javascript">
  createCard("{{card.name}}", "{{card.challenge}}");
</script>
{% endfor %}

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}

{% for msg in messages %}
<script type="text/javascript">
  catchUpToGame("{{msg.message}}");
</script>
{% endfor %}

{% endblock %}
